<p id="notice"><%= notice %></p>


<h4>My Sites</h4>


<div class="parent">
  
  <div class="parent-left">
      <%= link_to 'New Site', new_site_path, class: "btn btn-default btn-xs" %> 
  </div>

  <div class="parent-right">
    <%= form_tag sites_path, id: "search-form", :method => :get do%>
        <%= text_field_tag :search, params[:search], placeholder: 'Search a site', required: true %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="2"></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site.url, target: "_blank"  %></td>
        <td><%= site.url %></td>
        <td><%= site.description %></td>
        <td><%= site.user.username %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>        
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sites %>




